html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
}

/* Dark and light mode */
[data-theme='dark'] {
    --bg-main: #18181D;
    --bg-secondary: #202026;
    --color-text-general: #FFFFFF;
    --color-other-text: #9A9AA6;
    --color-blue: #5773FF;
}

[data-theme='light'] {
    --bg-main: #FFFFFF;
    --bg-secondary: #F2F2F2;
    --color-text-general: #18181D;
    --color-other-text: #9A9AA6;
    --color-blue: #5773FF;
}

/* Page connexion et inscription */
    /* Main menu container */
.main-menu-container{
    height: 100%;
    width: 300px;
    flex-shrink: 0;
    background-color: var(--bg-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu-container__logo-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.main-menu-container__logo-title img{
    width: 70px;
    margin: 10px;
}

.main-menu-container__logo-title h2{
    color: var(--color-text-general);
    font-size: 24px;
    margin: 10px;
}

.main-menu-container__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-menu-container__menu h3{
    color: var(--color-other-text);
}

.main-menu-container__menu nav > div{
    margin: 8px;
    display: flex;
    align-items: center;
}

.main-menu-container__menu a{
    color: var(--color-text-general);
    text-decoration: none;
}

.main-menu-container__menu a:hover{
    color: var(--color-blue);
}

.earth{
    width: 17px;
    margin: 0 5px 2px 0;
}

.main-menu-container__switch-mode{
    margin-top: 50px;
}

.main-menu-container__switch-mode > div{
    display: flex;
    justify-content: center;
}

.main-menu-container__switch-mode > div > p:nth-child(1){
    color: var(--color-text-general);
    margin: 10px 25px 0 0;
}

.main-menu-container__switch-mode > div > p:nth-child(2){
    color: var(--color-blue);
    margin: 10px 0 0 0;
}

.switch {
    opacity: 0;
}

.switch > div {
  margin-left: 20px;
  width: 32px;
  height: 20px;
  background: #9A9A9A;
  z-index: 0;
  cursor: pointer;
  position: relative;
  border-radius: 50px;
  line-height: 40px;
  text-align: right;
  padding: 0 10px;
  color: rgba(0,0,0,.5);
  transition: all 250ms;
  box-shadow: inset 0 3px 15px -3px;
}

.switch > input:checked + div {
  background: #5773FF;
  text-align: left;
  color: rgba(255,255,255,.75);
}

.switch > div:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  top: -2px;
  height: 24px;
  width: 24px;
  background: linear-gradient(#f9f9f9 30%,#CDCDCD);
  border-radius: 50%;
  transition: all 200ms;
}

.switch > div:after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 5.5px;
  top: 5px;
  height: 11px;
  width: 11px;
  background: linear-gradient(#DCDCDC,#E3E3E3);
  border-radius: 50%;
  transition: all 200ms;
}

.switch > input:checked + div:after {
  left: 37px;
}

.switch > input:checked + div:before {
  content: '';
  position: absolute;
  left: 30px;
  border-radius: 50%;
}

    /* Body container */
.body-container{
    height: 100%;
    flex-grow: 1;
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.body-container__logo-title{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.body-container__logo-title > img{
    width: 90px;
}

.body-container__logo-title > h2{
    color: var(--color-text-general);
    margin-left: 10px;
}

.body-container__form > h3{
    color: var(--color-text-general);
}

.body-container__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container__form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container__form > form > div{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
}

.body-container__form > form > div img{
    width: 20px;
    margin-right: 10px;
}

.body-container__form > form > div > input{
    width: 230px;
    height: 25px;
    background-color: var(--bg-main);
    border: none;
    color: var(--color-text-general);
}

.body-container__form > form p{
    color: var(--color-text-general);
    font-size: 14px;
    margin: 15px;
}

.body-container__form > form a{
    color: var(--color-blue);
    font-size: 14px;
}

.progress-bar-connexion{
    height: 10px;
    width: 200px;
}

.body-container__form > form button{
    background-color: var(--color-blue);
    color: white;
    margin: 30px;
    padding: 7px 20px;
    border-radius: 20px;
    border: 1px solid var(--color-blue);
    font-size: 16px;
}

/* Page explore */
.body-container-explore{
    height: 100%;
    width: 100%;
    background-color: var(--bg-main);
}

.body-container-explore__menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.body-container-explore__menu > div:nth-child(1), .body-container-explore__menu > div:nth-child(2){
    display: flex;
    align-items: center;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
    padding: 7px 15px;
    margin: 10px 40px;
}

.body-container-explore__menu > div:nth-child(1) img{
    width: 25px;
    margin-right: 10px;
}

.body-container-explore__menu > div:nth-child(1) input{
    width: 220px;
    height: 20px;
    background-color: var(--bg-main);
    border: none;
    color: var(--color-text-general);
}

.body-container-explore__menu > div:nth-child(2) div{
    margin: 2px 10px 2px 5px;
    width: 25px;
    height: 25px;
    background-image: url('./img/photo-profil.jpg');
    background-size: cover;
    background-position: center;
}

.body-container-explore__menu > div:nth-child(2) p, .body-container-explore__menu > div:nth-child(2) a{
    background-color: var(--bg-main);
    border: none;
    color: var(--color-text-general);
    margin: 0 25px 0 0;
    text-decoration: none;
}

.body-container__explore{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container__explore > h2{
    color: var(--color-text-general);
    margin: 0;
}
.body-container__explore > span{
    color: var(--color-other-text);
    margin-bottom: 30px;
}

.body-container__explore > div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.explore__news{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--color-text-general);
}

.explore__news > div{
    width: 400px;
    height: 270px;
    background-image: url('./img/sum41.jpg');
    background-size: cover;
    background-position: center;
}

.explore__top-chart{
    color: var(--color-text-general);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 40px;
}

.top-chart__list{
    display: flex;
    flex-direction: column;
    height: 270px;
    overflow: scroll;
}

.top-chart__list a{
    color: var(--color-text-general);
    text-decoration: none;
}

.top-chart__list > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 3px 0;
}

.top-chart__list > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}

.top-chart__list > div > div:nth-child(1) > p{
    color: var(--color-other-text);
    margin: 0 10px 0 0;
}

.top-chart__list-img-album{
    width: 40px;
    height: 40px;
    background-image: url('./img/Order-in-decline.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0 10px 0 0;
}

.top-chart__list > div > div:nth-child(1) h4{
    margin: 0;
    font-size: 16px;
}
.top-chart__list > div > div:nth-child(1) span{
    margin: 0;
    font-size: 13px;
}

.top-chart__list > div > div:nth-child(1) span a{
    color: var(--color-other-text);
}

.top-chart__list > div > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.top-chart__list > div > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
}

.top-chart__list > div > div:nth-child(2) > div img{ 
    width: 10px;
}

.top-chart__list > div > div:nth-child(2) > img{ 
    width: 20px;
}

.body-container__play-music{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100% - 300px);
    background-color: var(--color-blue);
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
}

.body-container__play-music > div:nth-child(1){
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.body-container__play-music > div:nth-child(1) > img{
    width: 25px;
}

.body-container__play-music > div:nth-child(1) > img:first-child{
    transform: rotate(180deg)
}

.body-container__play-music > div:nth-child(1) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 5px;
}

#play-btn{
    cursor: pointer;
}

.body-container__play-music > div:nth-child(1) > div > img{
    width: 15px;
}

.body-container__play-music > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.body-container__play-music > div:nth-child(2) > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
}

.body-container__play-music > div:nth-child(2) > div:nth-child(1) p{
    margin: 0 10px 15px 0;
}

.body-container__play-music > div:nth-child(2) > div:nth-child(1) #artist{
    text-transform: uppercase;
}

.body-container__play-music > img{
    width: 30px;
}

.buffered {
    position: relative;
    background-color: var(--color-other-text);
    width: 300px;
    border-radius: 20px;
}
  
#buffered-amount {
    display: block;
    height: 100%;
    background-color: var(--color-other-text);
    width: 0;
    border-radius: 20px;
}
  
.progress {
    margin-top: -10px;
    height: 10px;
    position: relative;
    background-color: var(--color-other-text);
    width: 300px;
    border-radius: 20px;
}
  
#progress-amount {
    display: block;
    height: 100%;
    background-color: white;
    width: 0;
    border-radius: 20px;
}

#pjax-container{
    width: 100%;
    display: contents;
}

/* Profil page */
.profil-img-follower{
    display: flex;
    justify-content: space-evenly;
}

.profil-img-follower > img{
    width: 130px;
    border-radius: 10px;
}

.profil-followers_container{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profil-followers_container > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profil-followers_container > div:nth-child(1) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-text-general);
}

.profil-followers_container > div:nth-child(1)> div > span:nth-child(1){
    font-size: 22px;
    font-weight: bold;
}

.profil-followers_container > div:nth-child(2){
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 80px;
}

.profil-followers_container > div:nth-child(2) p{
    margin: 0 0 10px 0;
    color: var(--color-other-text);
}

.profil-followers_container > div:nth-child(2) a{
    padding: 10px 45px;
    background-color: var(--color-blue);
    color: var(--color-text-general);
    border-radius: 20px;
    text-decoration: none;
}

.profil-music-informations{
    display: flex;
    justify-content: space-around;
    color: var(--color-text-general);
}

.profil-informations_container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profil-informations_container > form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profil-informations_container  h2{
    margin-bottom: 30px;
    margin-left: 10px;
}

.profil-informations_input-file{
    position: relative;
    width: 161px;
    text-align: center;
    margin: 5px 0;
}
.profil-informations_input-file span.input-file {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background-color: var(--bg-main);
    border: 1px solid var(--color-other-text);
    cursor: pointer;
    color: var(--color-text-general);
    padding: 7px 0;
    text-transform:uppercase;
    font-size: 11px;
    border-radius: 7px;
  }
  
.input-file_content {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 30px;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.profil-music_container{
    width: 500px;
}

.profil-informations_container > form input:not(.input-file_content){
    width: 140px;
    height: 15px;
    background-color: var(--bg-main);
    border: 1px solid var(--color-other-text);
    border-radius: 7px;
    padding: 7px 10px;
    color: var(--color-text-general);
    margin: 5px 0;
}

#genre{
    width: 162px;
    height: 27px;
    margin: 5px 0;
    border-radius: 7px;
    padding: 2px;
}

.profil-informations_container > form button{
    background-color: var(--color-blue);
    color: var(--color-text-general);
    padding: 7px 20px;
    border-radius: 7px;
    border: 1px solid var(--color-blue);
    margin-top: 10px;
}

.profil-import-music_container{
    height: 220px;
    overflow: scroll;
}

.profil-import-music_container > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 3px 0;
}

.profil-import-music_container > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 190px;
}

.profil-import-music_container > div > div:nth-child(1)> p{
    color: var(--color-other-text);
    margin: 0 10px 0 0;
}

.profil-import-music_container > div > div:nth-child(1) h4{
    margin: 0;
    font-size: 16px;
}
.profil-import-music_container > div > div:nth-child(1) h4 a{
    color: var(--color-text-general);
    text-decoration: none;
}
.profil-import-music_container > div > div:nth-child(1) span{
    margin: 0;
    font-size: 13px;
}

.profil-import-music_container > div > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.profil-import-music_container > div > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
}

.profil-import-music_container > div > div:nth-child(2) > div img{ 
    width: 10px;
}

.profil-import-music_container > div > div:nth-child(2) > img{ 
    width: 20px;
}

/* Categories page */
.body-container__categories{
    color: var(--color-text-general);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__playlist-container, .categories__category-container{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.categories__category-container{
    margin-top: 50px;
}

.categories__playlist-container > div:nth-child(1), .categories__category-container > div:nth-child(1){
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories__playlist-container > div:nth-child(2), .categories__category-container > div:nth-child(2){
    width: 700px;
    display: flex;
    align-items: center;
    overflow: scroll;
}

.categories__playlist-container > div:nth-child(2) > div{
    height: 100px;
    flex: 1 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
}

.categories__category-container > div:nth-child(2) > div{
    height: 150px;
    flex: 1 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
    text-align: center;
}

.categories__category-container > div:nth-child(2) > div a{
    color: var(--color-text-general);
    text-decoration: none;
}

.categories__playlist-container > div:nth-child(2) > div img, .categories__category-container > div:nth-child(2) > div img{
    width:100%;
    height:100%;
    display:block;
}

/* Page favorite */
.body-container__favorite{
    color: var(--color-text-general);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container__favorite > div:nth-child(1){
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.favorite-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    overflow: auto;
}

.favorite-container > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.favorite-container > div > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.favorite-container > div > div:nth-child(1) > p{
    color: var(--color-other-text);
    margin: 0;
}

.favorite-container > div > div > img{
    width: 60px;
}

.favorite-container > div > div > div h3, .favorite-container > div > div > div p{
    margin: 0;
}

.favorite-container > div > div > div h3 a{
    color: var(--color-text-general);
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
}

.favorite-container > div > div:nth-child(1) > div p a{
    color: var(--color-other-text);
    font-size: 13px;
    text-transform: capitalize;
    text-decoration: none;
}

.favorite-container > div > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}

.favorite-container > div > div:nth-child(2) > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
}

.favorite-container > div > div:nth-child(2) > div img{ 
    width: 10px;
}

.favorite-container > div > div:nth-child(2) > img{ 
    width: 20px;
}

/* Page abonnée */
.body-container__abonne{
    color: var(--color-text-general);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-container__abonne > div:nth-child(1){
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abonne-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abonne-container > div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.abonne-container > div > div p{
    margin-right: 15px;
}

.abonne-container > div img{
    width: 60px;
    margin-right: 15px;
}

.abonne-container > div > div{
    display: flex;
    align-items: center;
}

.abonne-container > div button{
    width: 140px;
    height: 30px;
    background-color: var(--bg-main);
    border: 1px solid var(--color-other-text);
    border-radius: 7px;
    padding: 7px 10px;
    color: var(--color-text-general);
    margin: 5px 0;
    transition: 0.4s ease;
    cursor: pointer;
}

.abonne-container > div button:hover{
    background-color: var(--color-other-text);
    color: var(--bg-main);
}

/* Page create playlist */
.body-container__playlist{
    color: var(--color-text-general);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist__listen-playlist{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist__create-playlist{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist__create-playlist > div:nth-child(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist__create-playlist > div:nth-child(1) > input{
    display: flex;
    align-items: center;
    border: 1px solid var(--color-other-text);
    border-radius: 5px;
    padding: 10px 15px;
    margin: 10px 0;
    background-color: var(--bg-main);
    color: var(--color-text-general);
}

.create-playlist__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.create-playlist__container > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.create-playlist__container > div > div:nth-child(1){
    display: flex;
    align-items: center;
}

.create-playlist__container > div > div:nth-child(1) > p{
    margin-right: 10px;
}

.create-playlist__container > div > div:nth-child(1) img{
    width: 60px;
    margin-right: 15px;
}

.create-playlist__container > div > div:nth-child(1) > div h4, .create-playlist__container > div > div:nth-child(1) > div p{
    margin: 5px 2px;
}

.create-playlist__container > div > div:nth-child(2){
    display: flex;
    align-items: center;
}

.create-playlist__container > div > div:nth-child(2) > img{
    width: 25px;
}

.create-playlist__container > div > div:nth-child(2) > input{
    margin-left: 15px;
    height: 14px;
    width: 14px;
}

.playlist__create-playlist > form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.playlist__create-playlist > form > button{
    margin-top: 30px;
    border: 1px solid var(--color-blue);
    border-radius: 20px;
    background-color: var(--color-blue);
    color: var(--color-text-general);
    padding: 10px 30px;
}

/* SongByGenre page */
.categorie__genre-music{
    color: var(--color-text-general);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categorie__genre-music > h2{
    color: var(--color-text-general);
    text-transform: uppercase;
    text-decoration: underline;
}

.genre-music__list-music{
    width: 70%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    overflow: scroll;
}

.genre-music__list-music > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.genre-music__list-music > div > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 190px;
}

.genre-music__list-music > div > div:nth-child(1) img{
    width: 60px;
    margin: 0 10px 0 0;
    border-radius: 10px;
}

.genre-music__list-music > div > div:nth-child(1) > p{
    margin: 0 10px 0 0;
    color: var(--color-other-text);
}

.genre-music__list-music > div > div:nth-child(1) > div h3{
    margin: 0;
}

.genre-music__list-music > div > div:nth-child(1) > div > h3 a{
    margin: 0;
    text-decoration: none;
    color: var(--color-text-general);
    font-size: 17px;
}

.genre-music__list-music > div > div:nth-child(1) > div > span a{
    color: var(--color-other-text);
    font-size: 13px;
    text-decoration: none;
}

.genre-music__list-music > div > div:nth-child(2){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}

.genre-music__list-music > div > div:nth-child(2) img{
    width: 30px;
}

